

<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>TOTALIZAÇÃO DO PROJETO</mat-card-title>
    </mat-card-header>
   
    <mat-grid-list cols="12" rowHeight="30px">

        <mat-grid-tile [colspan]="2" [rowspan]="3">
            <p>Description</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>Actual</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <p>Budget</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Month</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Projetct To Date</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Variation % To Date/ Total FTC</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Original Budget</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Executive Budget</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Approved Change Notices</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Revised Budget</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Total FTC This Month</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Total FTC Last Month</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Forecast To Go</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Net Revenue</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>36.650</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>221.570</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>99%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>223.617</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>223.617</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>223.617</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>223.617</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>2.047</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Total Cost</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>13.409</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>83.337</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>99%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>84.107</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>770</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Labour</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>13.409</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>83.337</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>99%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>79.675</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>84.107</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>770</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Expenses (included Subcontractor)</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>3.400</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>3.400</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>3400</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>GMAFB</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>22.441</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>138.233</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>99%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>143.942</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>143.942</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>143.942</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>139.510</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>1.277</p>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>GMAFB / NET REVENUE  %</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>62.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>62.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>64.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>64.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>-</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>64.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>62.4%</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>-</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>62.4%</p>
        </mat-grid-tile>
    
    
    
      </mat-grid-list>

</mat-card>
