

<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>ADMINISTRAÇÃO</mat-card-title>
    </mat-card-header>

    <mat-grid-list cols="3" rowHeight="30px">

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>Contract Management</p>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>ART CREA:</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Yes</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Use of System:</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Yes</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Kickoff:</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Yes</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Contract Approved:</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Yes</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Term of Conclusion:</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Yes</p>
        </mat-grid-tile>
        
    </mat-grid-list>

</mat-card>
