
<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>FINANCEIRO</mat-card-title>
    </mat-card-header>
    <mat-grid-list cols="3" rowHeight="30px">

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>Aging WIP (Net)</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Current</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>30 - 60 Days</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>60 - 90 Days</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>90 - 120 Days</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>120 Days and Over</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>Others</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Unearned revenue</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>AR</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>



    </mat-grid-list>


</mat-card>
