

<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>SATISFAÇÃO DO CLIENTE</mat-card-title>
    </mat-card-header>

    <mat-grid-list cols="3" rowHeight="30px">

        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <p>Imagem</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <p>Client Satisfaction</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>No issues</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Warning</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <p>Not satisfied</p>
        </mat-grid-tile>

    </mat-grid-list>


</mat-card>
