

<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>ACOMPANHAMENTO</mat-card-title>
    </mat-card-header>

    <mat-grid-list cols="12" rowHeight="30px">

        <mat-grid-tile [colspan]="12" [rowspan]="1">
            <p>Follow-up</p>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <p>Project Milestones (Month)</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>Action Plan actual</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>Name</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Date</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Reprog.</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>R$</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Status</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="7">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="6">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <p>Areas of Concerns / Issues Risk Analyses</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>Actions planed last month</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="6">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="6">
            <p></p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="7" [rowspan]="1">
            <p>Opportunities</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="1">
            <p>HSEC / Quality</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="7" [rowspan]="5">
            <p></p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="5">
            <p></p>
        </mat-grid-tile>
        

    
        
    </mat-grid-list>




</mat-card>
