

<mat-card class="local-card">
    <mat-card-header>
        <mat-card-title>PERFORMANCE</mat-card-title>
    </mat-card-header>

    <mat-grid-list cols="4" rowHeight="30px">

        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p>Progress</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>To date (Actual)</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>95,4%</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p>Earned Value</p>
        </mat-grid-tile>


        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>CPI (Hs)</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0,63</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>CPI (R$) To Date</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0,91</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>CPI (R$) Forecast To Go</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>4,72</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <p>CPI (R$) Total Forecast To Complete</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>0,95</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4" [rowspan]="1">
            <p>Hh /A1 eq</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Original Budget</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Executive Budget</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Actual</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>Forecast</p>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>9</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>9</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>17</p>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <p>18</p>
        </mat-grid-tile>
        
    </mat-grid-list>



</mat-card>
