

.local-card {
    margin: 10px;
    background-color: rgb(240, 243, 243);
   
  }

  mat-grid-tile {
    border: solid 2px whitesmoke;
      text-align: left;
      font-weight: bolder;
    background: lightblue;
 }
 p{
     font-size: 12px;
 }

 mat-form-field{
   text-align: center;
   font-size: 12px;
   color: blue;
 }

