<mat-toolbar>
  <mat-toolbar-row class="mat-elevation-z6" color="white">
    <span>
      <img width="60" height="50" alt="Angular Logo" [src]="LOGO" style="margin: 10px;" />
    </span>
    <span style="font-size: large;">
      GESTOR DE CUSTOS BRASS
    </span>

    <span class="spacer"></span>

    <ng-container *ngIf="!(authenticated$ | async)">
      <button mat-button routerLink="/auth/login">
        <mat-icon>input</mat-icon>
        Sign In
      </button>
      <button mat-button routerLink="/auth/register">
        <mat-icon>person_add</mat-icon>
        Sign Up
      </button>
    </ng-container>




    <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
      <button mat-button (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Exit
      </button>
      <!--
 <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>account_circle</mat-icon>
        Account
      </button>
      <mat-menu #menu="matMenu">
        <p class="username">{{(user$|async)?.email}}</p>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Exit
        </button>
      </mat-menu>
      -->
      <p class="username">{{(user$|async)?.name}}</p>
      <img width="60" height="50" alt="" src="{{(user$|async)?.picture}}" style="margin: 10px;" />
      
    </ng-container>





  </mat-toolbar-row>

  <mat-toolbar-row style="background-color: steelblue;">
    <span>Menu</span>


  
    <ng-container *ngIf="(authenticated$ | async) && (user$ | async)">
      <!--
        <button mat-button routerLink="/main/projetos">
        <mat-icon>library_books</mat-icon>
        Projetos
      </button>
      -->
      
      <button mat-button routerLink="/main/people">
        <mat-icon>home</mat-icon>
        People
      </button>
      <button mat-button routerLink="/main/products">
        <mat-icon>shop</mat-icon>
        Shop
      </button>
    </ng-container>



    <span class="spacer"></span>
    {{nomeProjeto}}
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
  </mat-toolbar-row>


</mat-toolbar>



<router-outlet></router-outlet>
