<div fxLayout="column" fxLayoutAlign="space-around stretch" style="padding: 20px; background: #f0f0f0">

    <form [formGroup]="projetosForm" (ngSubmit)="onSubmit()" fxLayout="row" fxLayoutAlign="space-around stretch" #f>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Numero" type="number" formControlName='cc' #name>
      </mat-form-field>
  
      <mat-form-field fxFlex="28">
        <input matInput placeholder="Nome" formControlName='nome'>
      </mat-form-field>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Cliente" formControlName='cliente'>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Proposta" formControlName='numero_proposta'>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Acervo" formControlName='acervo'>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Encerramento" formControlName='encerramento'>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
  
      <mat-form-field fxFlex="10">
        <input matInput placeholder="Status" formControlName='status'>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>

      
  
  
  
      <div fxLayout="row" fxLayoutAlign="end end">
        <button mat-button color="primary" type="submit" [disabled]="!projetosForm.valid">Submete</button>
        <button mat-button color="warn" type="reset">Cancela</button>
      </div>
    </form>
  </div>
  <mat-divider></mat-divider>
  
  <div class="table-container mat-elevation-z8">
  
    <table mat-table [dataSource]="tblprojetos$ | async">
  
      <ng-container matColumnDef="cc">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Numero </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.cc}} </td>
      </ng-container>
  
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef class="th_grande"> Nome </th>
        <td mat-cell *matCellDef="let element" class="th_grande">{{element.nome}} </td>
      </ng-container>
  
      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Cliente </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.cliente}} </td>
      </ng-container>
  
  
      <ng-container matColumnDef="numero_proposta">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Proposta </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.numero_proposta}} </td>
      </ng-container>
  
      <ng-container matColumnDef="acervo">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Acervo </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.acervo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="encerramento">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Encerramento </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.encerramento}} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"> Status </th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">{{element.status}} </td>
      </ng-container>

 <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef class="th_pequeno"></th>
        <td mat-cell *matCellDef="let element" class="th_pequeno">
          <button mat-button color="primary"><mat-icon>edit</mat-icon></button>
          <!--
<button mat-button color="accent"><mat-icon>delete</mat-icon></button>
          -->
          
        </td>
      </ng-container>

     
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  </div>
